html {
	box-sizing: border-box;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

html * {
    max-height: 1000000px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

label,
button,
input,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus
 {
	outline: none
}

a,
button {
	cursor: pointer
}


.btn_default {
	appearance: none;
	border-radius: 0;
	border: none;
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	transition: 0.25s ease;
}

@font-face {
    font-family: 'KotexCyrillic';
    src: url('../fonts/KotexCyrillic-Light.woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'KotexCyrillic';
    src: url('../fonts/KotexCyrillic-Bold.woff');
    font-weight: 600;
    font-style: normal;
}



body {
    font-size: 14px;
    line-height: 1.4;
    background: #f2f2f2;
    font-family: KotexCyrillic;
    font-weight: 300;
    background-image: url(../images/bg.svg);
    background-repeat: no-repeat;
    background-position: 50% -500px;
    background-size: 2550px;
}
a{transition:0.25s}



.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.header__main {
    padding: 50px 0;
}

.header__main .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__bot__wrap {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 100px 0 rgb(0 0 0 / 10%);
}

.main__bot__inner {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
}

.bot__item__image {
    width: 55px;
    height: 55px;
    background: #ed1a39;
    border-radius: 50%;
    margin-right: 20px;
    background-image: url(../images/avatar/kotex.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 40px;
}

.bot__item__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: calc(100% - 150px);
}

.bot__content {
    margin: 0;
    padding: 50px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.bot__item__info {
    border-radius: 8px;
    border: 1px solid #e1e1e1;
    padding: 20px 20px;
    min-height: 85px;
    display: flex;
    max-width: calc(100% - 55px - 20px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main_footer {
    padding: 50px 0 35px;
    background: #ed1a39;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 105px;
}

.main_footer__top {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.footer__logo {
    display: block;
    width: 220px;
    margin-right: 90px;
}

.footer__info {
    width: calc(100% - 220px - 90px);
    text-transform: uppercase;
    line-height: 1.85;
}

.footer__info a {
    color: inherit;
}

.footer__info a:hover {
    text-decoration: none;
    color: #000;
}

.footer__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer__social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 310px - 300px );
}

.footer__politic {
    color: inherit;
    width: 300px;
}

.footer__politic:hover {
    text-decoration: none;
    color: #000;
}

.footer__copyright {
    width: 310px;
}
.footer__social__links a {
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 5px;
    padding: 10px;
}

.footer__social__links {
    display: flex;
    margin: 0 -5px;
}
.footer__social__text {
    margin-right: 20px;
}

.footer__social__links a:hover {
    opacity: 0.75;
}

.footer__social__links a:hover img {
    transform: scale(1.15);
}

.footer__social__links a img {
    transition: 0.25s;
}
.bot__item--user .bot__item__inner {
    flex-direction: row-reverse;
}

.bot__item--user .bot__item__image {
    margin: 0 0 0 20px;
}

.bot__item--user .bot__item__info {
    background: #f2f2f2;
}

.btn__default {
	text-decoration: none;
	color: inherit;
    transition: 0.25s;
    border: none;
    appearance: none;
    border-radius: 0;
    font-size: 12px;
    font-weight: 300;
    background: transparent;
    cursor: pointer;
}

.btn__choose {
    color: #fff;
    text-transform: uppercase;
    min-width: 85px;
    text-align: center;
    border-radius: 25px;
    padding: 9px;
    margin: 5px;
    border: 1px solid;
}

.btn__yes {
    background: #ed1a39;
}

.bot__item__info__choose {
    margin: 0 -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__no {
    background: #555555;
}
.main__bot__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 85px 0 65px;
    border-bottom: 1px solid #e1e1e1;
}

.main__bot__top__image {
    width: 280px;
}

.main__bot__top__title {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.12;
    margin-bottom: 25px;
}

.main__bot__top__info {
    width: calc(100% - 300px);
}

.main__bot__top__text {
    font-size: 20px;
    line-height: 1.45;
}
.bot__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.bot__item--user {
    justify-content: flex-end;
}

.bot__item__info>* {
    margin-bottom: 10px;
}

.bot__item__info>*:last-child {
    margin-bottom: 0;
}

.bot__item__info__form__field input[type="text"] {
    background: #f4f4f4;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 12px 20px;
    width: 100%;
    -webkit-appearance: none;
}

.bot__item__info__form {
    width: 100%;
}

.bot__item__info__form__field {
    margin-bottom: 12px;
}

.btn__send {
    width: 135px;
    border-radius: 40px;
    padding: 12px 10px;
    text-transform: uppercase;
    background: #ed1a39;
    color: #fff;
    border: 1px solid;
}

.btn__yes:hover {
    color: #ed1a39;
    background: transparent;
}

.btn__no:hover {
    color: #000;
    background: transparent;
}

.btn__send:hover {
    background: transparent;
    color: #ed1a3a;
}
.bot__item__info__text {
    line-height: 1.35;
}

.bot__item__info__text p {
    margin-bottom: 2px;
}

.bot__item__info__text p:last-child {
    margin-bottom: 0;
}
.bot__item__info__choose.bot__item__choosed button {
    pointer-events: none;
    background: #ccc;
}

.btn__choose.btn__yes.choosed {
    background: #ed1a3a;
}


.btn__choose.btn__no.choosed {
    background: #555555;
}
.btn__variant {
    display: inline-flex;
    align-items: center;
    margin: 5px 5px;
    padding: 8px 21px;
    border-radius: 40px;
    border: 1px solid #e41b13;
    font-size: 13px;
}

.bot__item__info__variants {
    margin: -5px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.btn__variant img {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.btn__variant:hover {
    background: #fff;
}
.bot__variants__choosed .btn__variant {
    opacity: 0.2;
    pointer-events: none;
}

.btn__variant.btn__variant__choosed {
    opacity: 1;
    background: #fff;
}
.bot__item--user .bot__item__image {
    background: #231f20;
    background-image: url(../images/avatar/user.svg);
    background-position: 50%;
    background-size: 18px;
    background-repeat: no-repeat;
}