@media screen and (max-width:980px) {
    .btn__variant {
        font-size: 12px;
        padding: 7px 18px;
    }

    .main__bot__top__image {
        width: 220px;
    }

    .main__bot__top__info {
        width: calc(100% - 240px);
    }

    .bot__item__inner {
        max-width: calc(100% - 75px);
    }

    .main__bot__inner {
        max-width: 700px;
    }

    .main__bot__top__title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .main__bot__top__text {
        font-size: 16px;
        line-height: 1.35;
    }

    .main__bot__top {
        padding: 60px 0 45px;
    }

    .bot__content {
        padding: 45px 0 40px;
    }

    .bot__item {
        margin-bottom: 25px;
    }

    .main_footer {
        margin-top: 60px;
        padding: 40px 0 27px;
    }

    .footer__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0 30px;
    }

    .footer__info {
        width: 100%;
        line-height: 1.75;
        max-width: 700px;
        margin: 0 auto;
    }

    .footer__social {
        width: 100%;
        justify-content: flex-start;
        margin-top: 25px;
        align-items: center;
    }


    .main_footer__top {
        margin-bottom: 25px;
    }

    .footer__bottom {
        justify-content: flex-start;
        max-width: 700px;
        margin: 0 auto;
    }

    .footer__copyright {
        width: auto;
        margin-right: 55px;
    }
}

@media screen and (max-width:650px) {
    body {
        background-position: 50% -140px;
        background-size: 1000px;
    }

    .bot__content {
        padding: 35px 0 30px;
    }

    .bot__item {
        margin-bottom: 25px;
    }

    .bot__item__info {
        min-height: 75px;
    }

    .header__logo {
        width: 100px;
    }

    .header__main {
        padding: 35px 0;
    }

    .main__bot__top {
        padding: 30px 0px 30px;
    }

    .main__bot__top__title {
        font-size: 19px;
        margin-bottom: 12px;
    }

    .main__bot__top__text {
        font-size: 12px;
    }

    .main__bot__top__info {
        width: calc(100% - 200px);
    }

    .main__bot__top__image {
        width: 180px;
    }
}

@media screen and (max-width:570px) {
    .bot__item__info__form__field input[type="text"] {
        padding: 10px 15px;
    }

    .bot__item__info__form__field {
        margin-bottom: 8px;
    }

    .btn__send {
        width: 115px;
        padding: 9px 5px 10px;
        font-size: 11px;
    }

    .main__bot__top__title {
        font-size: 17px;
    }

    .main__bot__top__text {
        font-size: 13px;
    }

    .main__bot__top__info {
        max-width: calc(100% - 135px);
        width: 100%;
    }

    .main__bot__top__image {
        width: 125px;
    }

    .main__bot__top {
        padding: 25px 0;
    }

    .main__bot__inner {
        padding: 0 15px;
    }

    .bot__item__inner {
        max-width: calc(100% - 52px);
        width: 100%;
    }

    .header__main {
        padding: 25px 0;
    }

    .header__logo {
        width: 80px;
    }

    .bot__content {
        font-size: 13px;
        padding: 30px 0 15px;
    }

    .btn__choose {
        min-width: 70px;
        margin: 0 3px;
        padding: 8px;
    }

    .bot__item__info {
        min-height: 60px;
        padding: 15px;
        max-width: calc(100% - 40px - 12px);
    }

    .bot__item__image {
        width: 40px;
        height: 40px;
        margin-right: 12px;
        background-size: 28px;
    }

    .bot__item {
        margin-bottom: 22px;
    }

    .bot__item__info__choose {
        margin: 0 -3px;
    }

    .bot__item--user .bot__item__image {
        margin-left: 12px;
        background-size: 14px;
    }

    .footer__info {
        line-height: 1.9;
    }

    picture.footer__logo {
        margin-bottom: 20px;
        max-width: 200px;
    }

    footer.main_footer {
        padding-top: 30px;
        font-size: 10px;
        padding-bottom: 25px;
        margin-top: 35px;
    }


    .footer__copyright {
        width: 100%;
        margin: 0 0 7px;
    }


    .footer__social {
        margin-top: 20px;
    }

    .footer__social__links a {
        width: 35px;
        height: 35px;
        padding: 8px;
    }

    .container {
        padding: 0 15px;
    }
}

@media screen and (max-width:480px) {
    .bot__item__info__variants {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .btn__variant {
        width: 100%;
        margin: 5px 0;
        padding: 7px 12px;
        text-align: left;
        line-height: 1.2;
        min-width: 160px;
    }
}

@media screen and (max-width:420px) {
    body {
        background-position: 50% -170px;
    }

    .main__bot__top__info {
        max-width: 250px;
    }

    .bot__item__info__text {
        font-size: 13px;
    }

    .main__bot__top {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
        margin: 0 -15px;
    }

    .main__bot__top__image {
        margin-bottom: 15px;
        width: 130px;
    }

    .bot__content {
        padding: 22px 0;
        font-size: 12px;
    }


    .bot__item__inner {
        max-width: 100%;
    }

    .btn__choose {
        padding: 7px;
    }

    .footer__info {
        font-size: 9px;
    }
}

@media screen and (max-width:350px) {
    .main__bot__top__title {
        font-size: 16px;
    }

    .main__bot__top__text {
        font-size: 12px;
    }
}